<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<!--header-->
<header th:replace="~{fragments/header :: header}"></header>

    <h1>회원가입 페이지</h1>

    <div class="container">
        <h2>Create User Page</h2>

        <form th:action="@{/member/new}" th:object="${createMemberDto}" method="post">
            <div>
                <label for="username">회원명: </label>
                <input type="text" id="username" th:field="*{username}" required>
            </div>
            <div>
                <label for="password">비밀번호: </label>
                <input type="password" id="password" th:field="*{password}" required>
            </div>
            <div>
                <label for="email">이메일: </label>
                <input type="email" id="email" th:field="*{email}" required>
            </div>
            <div>
                <label for="nickname">닉네임: </label>
                <input type="text" id="nickname" th:field="*{nickname}" required>
            </div>
            <div>
                <button type="submit">생성</button>
            </div>
        </form>

        <!-- 에러 메시지 표시 부분 -->
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>

    </div>

<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>