<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<!--header-->
<header th:replace="~{fragments/header :: header}"></header>

    <h1>회원가입 페이지</h1>

    <div class="container">
        <h2>Create User Page</h2>


        <form class="form-floating" th:action="@{/member/new}" th:object="${createMemberDto}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" th:field="*{username}" required>
                <label for="username"> username </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" th:field="*{password}" required>
                <label for="password"> password </label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
                <label for="email"> email </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nickname" th:field="*{nickname}" required>
                <label for="nickname"> nickname </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">생성</button>
            </div>
        </form>

        <!-- 에러 메시지 표시 부분 -->
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>

    </div>

<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>