<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Member Information</title>
</head>
<body>
<!--header-->
<header th:replace="~{fragments/header :: header}"></header>


<div class="container">
    <h2>User Information Page</h2>

    <form th:action="@{/member/private/userInfo/update}" th:object="${updateForm}" method="post">
        <div>
            <label>Username : </label>
            <span th:text="${memberInfo.username}">Username</span>
        </div>

        <div>
            <label for="password">비밀번호: </label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>

        <div>
            <label>E-mail : </label>
            <span th:text="${memberInfo.email}">E-mail</span>
        </div>


        <div>
            <label for="nickname">닉네임: </label>
            <input type="text" id="nickname" th:value="${memberInfo.nickname}" th:field="*{nickname}" required>
        </div>

        <div>
            <label>Created At : </label>
            <span th:text="${memberInfo.createdAt}">Created At</span>
        </div>

        <div>
            <button type="submit">생성</button>
        </div>
    </form>


    <h3> 작성 게시글 </h3>
    <div th:each="post : ${posts}">
        <p>
            <strong>제목 : </strong>
            <a th:href="@{/post/{postId}(postId=${post.postId})}" th:text="${post.title}">게시글 제목</a><br>
        </p>
        <button th:if="${post.username} == ${#authentication.name}"
                class="delete-comment"
                th:data-id="${post.postId}"
                onclick="deletePost(this.getAttribute('data-id'))">삭제</button>
    </div>

    <!--    작성한 게시글이 없는 경우 메시지-->
    <div th:if="${#lists.isEmpty(posts)}">작성한 게시글이 없습니다.</div>


    <div>
        <button class="delete-member"
                th:attr="data-id=${memberInfo.id}"
                onclick="deleteMember(this.getAttribute('data-id'))">회원 탈퇴</button>
    </div>
</div>


<!--footer-->
<div th:replace="~{fragments/footer :: footer}"></div>


<script src="/main.js"></script>
</body>
</html>